Repository discourse/discourse-templates: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, stree, prettier, prettier-scss, prettier-hbs, eslint

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

stree:
  run: "if test -f .streerc; then\n  bundle exec stree check {staged_files}\nelse\n  echo \"Stree config not detected for this repository. Skipping.\"\nfi\n"

prettier:
  include: assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: assets/stylesheets
  run: yarn prettier --list-different {staged_files}

prettier-hbs:
  include: assets/javascripts|test/javascripts
  run: yarn prettier --list-different {staged_files}

eslint:
  include: assets/javascripts|test/javascripts
  run: yarn eslint -f compact {staged_files}

FEATURE: Show copy/new-topic buttons when viewing template topics (#43)
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.hbs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/stylesheets/discourse-templates.scss
  config/locales/client.en.yml
  plugin.rb
  test/javascripts/acceptance/templates-test.js
Due: rubocop, stree, prettier, prettier-scss, prettier-hbs, eslint

Update translations
  config/locales/client.he.yml
Due: none

Update translations (#49)
  config/locales/client.he.yml
Due: none

FIX: Move plugin into own setting category
  config/locales/client.en.yml
  config/settings.yml
Due: none

FIX: Move plugin into own setting category (#50)
  config/locales/client.en.yml
  config/settings.yml
Due: none

Update translations (#51)
  config/locales/client.he.yml
Due: none

Update plugin.rb metadata
  plugin.rb
Due: rubocop, stree

DEV: Switch to new addComposerToolbarPopupMenuOption plugin API
  .discourse-compatibility
  assets/javascripts/discourse/initializers/d-templates.js
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Switch to new addComposerToolbarPopupMenuOption plugin API (#53)
  .discourse-compatibility
  assets/javascripts/discourse/initializers/d-templates.js
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Fix broken tests
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Fix broken tests (#54)
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Use plugin api version 1.13.0
  assets/javascripts/discourse/initializers/d-templates.js
Due: prettier, eslint

Fix typo
  assets/javascripts/discourse/initializers/d-templates.js
Due: prettier, eslint

DEV: Use plugin api version 1.13.0 (#55)
  assets/javascripts/discourse/initializers/d-templates.js
Due: prettier, eslint

UX: fix button container to avoid mobile overflow
  assets/stylesheets/discourse-templates.scss
Due: prettier-scss

UX: fix button container to avoid mobile overflow (#56)
  assets/stylesheets/discourse-templates.scss
Due: prettier-scss

Update plugin.rb metadata (#57)
  plugin.rb
Due: rubocop, stree

DEV: Update tests for core change
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

FIX: Do not nest html with parents css class
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
Due: prettier-hbs

FIX: Do not nest html with parents css class (#59)
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
Due: prettier-hbs

FIX: Use different class-name
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
Due: prettier-hbs

FIX: Use name not used elsewhere (#60)
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
Due: prettier-hbs

DEV: Update tests for core change (#58)
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Resolve getOwner deprecation
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/initializers/d-templates.js
  assets/javascripts/discourse/services/d-templates.js
Due: prettier, eslint

DEV: Resolve getOwner deprecation (#61)
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/initializers/d-templates.js
  assets/javascripts/discourse/services/d-templates.js
Due: prettier, eslint

UX: add padding to prevent outline cutoff
  assets/stylesheets/discourse-templates.scss
Due: prettier-scss

UX: add padding to prevent outline cutoff (#62)
  assets/stylesheets/discourse-templates.scss
Due: prettier-scss

FIX: ensures compat with new chat draft
  .discourse-compatibility
  assets/javascripts/discourse/initializers/d-templates.js
Due: prettier, eslint

FIX: ensures compat with new chat draft (#63)
  .discourse-compatibility
  assets/javascripts/discourse/initializers/d-templates.js
Due: prettier, eslint

DEV: correct compat file
  .discourse-compatibility
Due: none

DEV: Update linting
  .eslintrc
  .eslintrc.cjs
  .prettierrc
  .prettierrc.cjs
  .template-lintrc.cjs
  .template-lintrc.js
  Gemfile.lock
  assets/javascripts/discourse/components/d-templates/filterable-list.js
  assets/javascripts/discourse/components/d-templates/item.js
  assets/javascripts/discourse/connectors/below-footer/d-templates-modal-container.gjs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.hbs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/javascripts/discourse/initializers/d-templates.js
  assets/javascripts/discourse/services/d-templates-modal.js
  assets/javascripts/discourse/services/d-templates.js
  assets/javascripts/lib/textarea-manipulator.js
  lib/tasks/discourse-templates.rake
  package.json
  plugin.rb
  spec/lib/guardian_extension_spec.rb
  spec/lib/topic_extension_spec.rb
  spec/lib/user_extension_spec.rb
  test/javascripts/acceptance/lib/replace-variables-test.js
  yarn.lock
Due: rubocop, stree, prettier, prettier-hbs, eslint

DEV: Update linting (#65)
  .eslintrc
  .eslintrc.cjs
  .prettierrc
  .prettierrc.cjs
  .template-lintrc.cjs
  .template-lintrc.js
  Gemfile.lock
  assets/javascripts/discourse/components/d-templates/filterable-list.js
  assets/javascripts/discourse/components/d-templates/item.js
  assets/javascripts/discourse/connectors/below-footer/d-templates-modal-container.gjs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.hbs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/javascripts/discourse/initializers/d-templates.js
  assets/javascripts/discourse/services/d-templates-modal.js
  assets/javascripts/discourse/services/d-templates.js
  assets/javascripts/lib/textarea-manipulator.js
  lib/tasks/discourse-templates.rake
  package.json
  plugin.rb
  spec/lib/guardian_extension_spec.rb
  spec/lib/topic_extension_spec.rb
  spec/lib/user_extension_spec.rb
  test/javascripts/acceptance/lib/replace-variables-test.js
  yarn.lock
Due: rubocop, stree, prettier, prettier-hbs, eslint

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations (#66)
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
Due: none

FIX: Slowness when listing templates and the templates category
  lib/discourse_templates/topic_extension.rb
Due: rubocop, stree

Added test
  spec/lib/topic_extension_spec.rb
Due: rubocop, stree

FIX: Slowness when listing templates and the templates category (#67)
  lib/discourse_templates/topic_extension.rb
  spec/lib/topic_extension_spec.rb
Due: rubocop, stree

DEV: Pin plugin for Discourse < 3.3.0.beta1-dev
  .discourse-compatibility
Due: none

DEV: Pin plugin for Discourse < 3.3.0.beta1-dev (#68)
  .discourse-compatibility
Due: none

Path conditions:
  rubocop: any of: *.rb
  stree: any of: *.rb
  prettier: any of: *.{js,gjs}
  prettier-scss: any of: *.scss
  prettier-hbs: any of: *.hbs
  eslint: any of: *.{js,gjs}
