Repository discourse/discourse-templates: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, stree, prettier, prettier-scss, prettier-hbs, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    stree:
      glob: "*.rb"
      run: |
        if test -f .streerc; then
          bundle exec stree check {staged_files}
        else
          echo "Stree config not detected for this repository. Skipping."
        fi
    prettier:
      glob: "*.{js,gjs}"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    prettier-hbs:
      glob: "*.hbs"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      include: "assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

fix-staged:
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --parallel {staged_files}
    stree:
      glob: "*.rb"
      run: |
        if test -f .streerc; then
          bundle exec stree write {staged_files}
        else
          echo "Stree config not detected for this repository. Skipping."
        fi
    prettier:
      glob: "*.{js,gjs,hbs,scss}"
      include: "assets/javascripts|assets/stylesheets|test/javascripts"
      run: yarn prettier --write {staged_files}

fix-all:
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --parallel {all_files}
    stree:
      glob: "*.rb"
      run: |
        if test -f .streerc; then
          bundle exec stree write {all_files}
        else
          echo "Stree config not detected for this repository. Skipping."
        fi
    prettier:
      glob: "*.{js,gjs,hbs,scss}"
      include: "assets/javascripts|assets/stylesheets|test/javascripts"
      run: yarn prettier --write {all_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    stree:
      glob: "*.rb"
      run: |
        if test -f .streerc; then
          bundle exec stree check {staged_files}
        else
          echo "Stree config not detected for this repository. Skipping."
        fi
    prettier:
      glob: "*.{js,gjs}"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    prettier-hbs:
      glob: "*.hbs"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "assets/stylesheets"
      run: yarn prettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts

DEV: Update linting
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/services/d-templates.js
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

DEV: Update linting (#89)
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/services/d-templates.js
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

DEV: Update linting
  package.json
  pnpm-lock.yaml
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Update linting (#90)
  package.json
  pnpm-lock.yaml
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Update more deprecated Font Awesome icon names
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
Due: prettier-hbs

DEV: Update more deprecated Font Awesome icon names (#91)
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
Due: prettier-hbs

DEV: Add plugin admin title
  config/locales/client.en.yml
Due: none

DEV: Add plugin admin title (#92)
  config/locales/client.en.yml
Due: none

Update translations
  config/locales/client.ar.yml
  config/locales/client.da.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations (#93)
  config/locales/client.ar.yml
  config/locales/client.da.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
Due: none

DEV: Pin version for Discourse <3.5.0.beta1-dev
  .discourse-compatibility
Due: none

DEV: Pin version for Discourse <3.5.0.beta1-dev (#94)
  .discourse-compatibility
Due: none

DEV: Bump dependencies and fix linting
  assets/javascripts/discourse/components/d-templates/filterable-list.js
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/javascripts/discourse/initializers/d-templates.js
  package.json
  pnpm-lock.yaml
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Bump dependencies and fix linting (#95)
  assets/javascripts/discourse/components/d-templates/filterable-list.js
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/javascripts/discourse/initializers/d-templates.js
  package.json
  pnpm-lock.yaml
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Update linting
  Gemfile.lock
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/stylesheets/discourse-templates.scss
  package.json
  plugin.rb
  pnpm-lock.yaml
  spec/plugin_helper.rb
  stylelint.config.mjs
Due: rubocop, stree, prettier, prettier-scss, prettier-hbs, eslint

Update assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
Due: prettier, eslint

DEV: Update linting (#99)
  Gemfile.lock
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
  assets/javascripts/discourse/connectors/editor-preview/d-templates.js
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/stylesheets/discourse-templates.scss
  package.json
  plugin.rb
  pnpm-lock.yaml
  spec/plugin_helper.rb
  stylelint.config.mjs
Due: rubocop, stree, prettier, prettier-scss, prettier-hbs, eslint

DEV: Add system spec to check core features are working fine
  spec/system/core_features_spec.rb
Due: rubocop, stree

DEV: Add system spec to check core features are working fine (#100)
  spec/system/core_features_spec.rb
Due: rubocop, stree

FIX: show the modal if the composer has the preview hidden
  assets/javascripts/discourse/services/d-templates.js
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

FIX: show the modal if the composer has the preview hidden (#101)
  assets/javascripts/discourse/services/d-templates.js
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Try fix flaky chat composer spec
  spec/system/chat_composer_spec.rb
  spec/system/page_objects/modals/insert_template.rb
Due: rubocop, stree

DEV: Try fix flaky chat composer spec (#102)
  spec/system/chat_composer_spec.rb
  spec/system/page_objects/modals/insert_template.rb
Due: rubocop, stree

FIX: bug when private template allowed group is everyone
  lib/discourse_templates/user_extension.rb
  spec/lib/user_extension_spec.rb
Due: rubocop, stree

FIX: bug when private template allowed group is everyone (#103)
  lib/discourse_templates/user_extension.rb
  spec/lib/user_extension_spec.rb
Due: rubocop, stree

DEV: [gjs-codemod] Convert all templates to gjs
  Gemfile.lock
  assets/javascripts/discourse/components/d-templates/filterable-list.gjs
  assets/javascripts/discourse/components/d-templates/filterable-list.hbs
  assets/javascripts/discourse/components/d-templates/item-content.gjs
  assets/javascripts/discourse/components/d-templates/item-content.hbs
  assets/javascripts/discourse/components/d-templates/item.gjs
  assets/javascripts/discourse/components/d-templates/item.hbs
  assets/javascripts/discourse/components/d-templates/item.js
  assets/javascripts/discourse/components/d-templates/modal/form.gjs
  assets/javascripts/discourse/components/d-templates/modal/form.hbs
  assets/javascripts/discourse/components/d-templates/modal/form.js
  assets/javascripts/discourse/connectors/editor-preview/d-templates.gjs
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.gjs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.hbs
  package.json
  pnpm-lock.yaml
Due: prettier, prettier-hbs, eslint

DEV: [gjs-codemod] Convert all templates to gjs
  Gemfile.lock
  package.json
  pnpm-lock.yaml
Due: none

DEV: Update linting config and run gjs-codemod
  .discourse-compatibility
  Gemfile.lock
  package.json
  pnpm-lock.yaml
Due: none

DEV: Update linting config and run gjs-codemod (#105)
  .discourse-compatibility
  Gemfile.lock
  assets/javascripts/discourse/components/d-templates/filterable-list.gjs
  assets/javascripts/discourse/components/d-templates/filterable-list.hbs
  assets/javascripts/discourse/components/d-templates/item-content.gjs
  assets/javascripts/discourse/components/d-templates/item-content.hbs
  assets/javascripts/discourse/components/d-templates/item.gjs
  assets/javascripts/discourse/components/d-templates/item.hbs
  assets/javascripts/discourse/components/d-templates/item.js
  assets/javascripts/discourse/components/d-templates/modal/form.gjs
  assets/javascripts/discourse/components/d-templates/modal/form.hbs
  assets/javascripts/discourse/components/d-templates/modal/form.js
  assets/javascripts/discourse/connectors/editor-preview/d-templates.gjs
  assets/javascripts/discourse/connectors/editor-preview/d-templates.hbs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.gjs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.hbs
  package.json
  pnpm-lock.yaml
Due: prettier, prettier-hbs, eslint

DEV: adjust tests to use d-menu toolbar options menu
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: adjust tests to use d-menu toolbar options menu (#107)
  test/javascripts/acceptance/templates-test.js
Due: prettier, eslint

DEV: Deprecate the plugin
  README.md
Due: none

DEV: Deprecate the plugin (#108)
  README.md
Due: none

Revert "DEV: Deprecate the plugin (#108)"
  README.md
Due: none

Revert "DEV: Deprecate the plugin (#108)" (#109)
  README.md
Due: none

DEV: Add chat to required plugins list
  about.json
Due: none

DEV: Add chat to required plugins list (#110)
  about.json
Due: none
