Repository discourse/discourse-templates: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, stree, prettier, prettier-scss, prettier-hbs, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    stree:
      glob: "*.rb"
      run: |
        if test -f .streerc; then
          bundle exec stree check {staged_files}
        else
          echo "Stree config not detected for this repository. Skipping."
        fi
    prettier:
      glob: "*.{js,gjs}"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    prettier-scss:
      glob: "*.scss"
      include: "assets/stylesheets"
      run: yarn prettier --list-different {staged_files}
    prettier-hbs:
      glob: "*.hbs"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint:
      glob: "*.{js,gjs}"
      include: "assets/javascripts|test/javascripts"
      run: yarn eslint -f compact {staged_files}

commands: &commands
  bundle-install:
    files: git diff --name-only HEAD main
    glob: "{Gemfile,Gemfile.lock,*.gemspec}"
    run: bundle install
  yarn-install:
    files: git diff --name-only HEAD main
    glob: "{package.json,yarn.lock}"
    run: yarn install

post-checkout:
  commands: *commands

post-merge:
  commands: *commands

post-rewrite:
  commands: *commands

fix-staged:
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --parallel {staged_files}
    stree:
      glob: "*.rb"
      run: |
        if test -f .streerc; then
          bundle exec stree write {staged_files}
        else
          echo "Stree config not detected for this repository. Skipping."
        fi
    prettier:
      glob: "*.{js,gjs,hbs,scss}"
      include: "assets/javascripts|assets/stylesheets|test/javascripts"
      run: yarn prettier --write {staged_files}

fix-all:
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --parallel {all_files}
    stree:
      glob: "*.rb"
      run: |
        if test -f .streerc; then
          bundle exec stree write {all_files}
        else
          echo "Stree config not detected for this repository. Skipping."
        fi
    prettier:
      glob: "*.{js,gjs,hbs,scss}"
      include: "assets/javascripts|assets/stylesheets|test/javascripts"
      run: yarn prettier --write {all_files}

lints:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    stree:
      glob: "*.rb"
      run: |
        if test -f .streerc; then
          bundle exec stree check {staged_files}
        else
          echo "Stree config not detected for this repository. Skipping."
        fi
    prettier:
      glob: "*.{js,gjs}"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    prettier-hbs:
      glob: "*.hbs"
      include: "assets/javascripts|test/javascripts"
      run: yarn prettier --list-different {all_files}
    prettier-scss:
      glob: "*.scss"
      include: "assets/stylesheets"
      run: yarn prettier --list-different {all_files}
    eslint-assets-js:
      run: yarn eslint assets/javascripts
    eslint-test-js:
      run: yarn eslint test/javascripts

DEV: Fix new Rubocop offenses
  Gemfile.lock
  plugin.rb
  spec/lib/guardian_extension_spec.rb
  spec/lib/topic_extension_spec.rb
  spec/lib/topic_query_extension_spec.rb
  spec/lib/user_extension_spec.rb
  spec/requests/templates_controller_spec.rb
  spec/serializers/templates_serializer_spec.rb
Due: rubocop, stree

FEATURE: Add a link to template source topic
  assets/javascripts/discourse/components/d-templates/item.hbs
  assets/stylesheets/discourse-templates.scss
  config/locales/client.en.yml
Due: prettier-scss, prettier-hbs

DEV: Linting
  assets/javascripts/discourse/components/d-templates/item.hbs
Due: prettier-hbs

DEV: Put <a> element to item content
  assets/javascripts/discourse/components/d-templates/item-content.hbs
  assets/javascripts/discourse/components/d-templates/item.hbs
Due: prettier-hbs

Included the slug in the link and refactored the templates
  app/serializers/discourse_templates/templates_serializer.rb
  assets/javascripts/discourse/components/d-templates/item-content.hbs
  assets/javascripts/discourse/components/d-templates/item.hbs
  spec/serializers/templates_serializer_spec.rb
Due: rubocop, stree, prettier-hbs

Prettier
  assets/javascripts/discourse/components/d-templates/item-content.hbs
  assets/javascripts/discourse/components/d-templates/item.hbs
Due: prettier-hbs

If opened, close the modal after navigating to the source topic
  assets/javascripts/discourse/components/d-templates/modal/form.hbs
  assets/javascripts/discourse/components/d-templates/modal/form.js
Due: prettier, prettier-hbs, eslint

Align the source link to the left
  assets/stylesheets/discourse-templates.scss
Due: prettier-scss

Use default lifecycle methods
  assets/javascripts/discourse/components/d-templates/modal/form.js
Due: prettier, eslint

Remove bind import because it's not being used
  assets/javascripts/discourse/components/d-templates/modal/form.js
Due: prettier, eslint

Fixed failing tests and added new ones
  assets/javascripts/discourse/components/d-templates/modal/form.hbs
  test/javascripts/acceptance/templates-test.js
  test/javascripts/fixtures/templates-fixtures.js
Due: prettier, prettier-hbs, eslint

FEATURE: Add a link to template source topic (#70)
  app/serializers/discourse_templates/templates_serializer.rb
  assets/javascripts/discourse/components/d-templates/item-content.hbs
  assets/javascripts/discourse/components/d-templates/item.hbs
  assets/javascripts/discourse/components/d-templates/modal/form.js
  assets/stylesheets/discourse-templates.scss
  config/locales/client.en.yml
  spec/serializers/templates_serializer_spec.rb
  test/javascripts/acceptance/templates-test.js
  test/javascripts/fixtures/templates-fixtures.js
Due: rubocop, stree, prettier, prettier-scss, prettier-hbs, eslint

Update translations
  config/locales/client.fa_IR.yml
  config/locales/client.he.yml
Due: none

Update translations (#71)
  config/locales/client.fa_IR.yml
  config/locales/client.he.yml
Due: none

Update translations
  config/locales/client.de.yml
Due: none

Update translations (#72)
  config/locales/client.de.yml
Due: none

DEV: Update rubocop-discourse to version 3.8.0
  Gemfile.lock
  package.json
Due: none

DEV: Update rubocop-discourse to version 3.8.0 (#74)
  Gemfile.lock
  package.json
Due: none

Update translations
  config/locales/client.ug.yml
  config/locales/server.ug.yml
Due: none

Update translations (#75)
  config/locales/client.ug.yml
  config/locales/server.ug.yml
Due: none

DEV: Pin plugin for Discourse < 3.4.0.beta1-dev
  .discourse-compatibility
Due: none

DEV: Pin plugin for Discourse < 3.4.0.beta1-dev (#77)
  .discourse-compatibility
Due: none

Update translations
  config/locales/client.ar.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations (#79)
  config/locales/client.ar.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
Due: none

UX: shortcut help should show lowercase i
  assets/javascripts/discourse/initializers/d-templates.js
Due: prettier, eslint

UX: shortcut help should show lowercase i (#81)
  assets/javascripts/discourse/initializers/d-templates.js
Due: prettier, eslint

DEV: Switch to use pnpm
  .npmrc
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

DEV: Switch to use pnpm (#83)
  .npmrc
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

DEV: use non-mixin version of TextareaTextManipulation
  .discourse-compatibility
  assets/javascripts/discourse/services/d-templates.js
  assets/javascripts/lib/textarea-manipulator.js
Due: prettier, eslint

DEV: use proper current version for compatibility
  .discourse-compatibility
Due: none

DEV: use non-mixin version of TextareaTextManipulation (#84)
  .discourse-compatibility
  assets/javascripts/discourse/services/d-templates.js
  assets/javascripts/lib/textarea-manipulator.js
Due: prettier, eslint

DEV: Update plugin annotations
  app/models/discourse_templates/usage_count.rb
Due: rubocop, stree

DEV: Update plugin annotations (#85)
  app/models/discourse_templates/usage_count.rb
Due: rubocop, stree

DEV: Update eslint config
  .eslintrc.cjs
  assets/javascripts/discourse/components/d-templates/filterable-list.js
  assets/javascripts/discourse/connectors/below-footer/d-templates-modal-container.gjs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/javascripts/discourse/services/d-templates.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

DEV: Update eslint config (#87)
  .eslintrc.cjs
  assets/javascripts/discourse/components/d-templates/filterable-list.js
  assets/javascripts/discourse/connectors/below-footer/d-templates-modal-container.gjs
  assets/javascripts/discourse/connectors/topic-above-posts/discourse-templates-button.js
  assets/javascripts/discourse/services/d-templates.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier, eslint
